<script type="text/javascript">
	chatId = null
	chatSocket = null

	onStart()
	function onStart(){
		onSelectUser('{{ other_users.0.id }}')
	}

	function setupChatSocket(chatId){
		chatId = chatId
		ws_shceme = window.location.protocol == 'https:' ? "wss" : "ws"
		
		ws_path = ws_shceme + "://" + window.location.host + "/chat/"+chatId+"/"

		closeChatSocket()
		chatSocket = new WebSocket(ws_path)

		chatSocket.onopen = function(msg){
			console.log(msg.data)
		}

		chatSocket.onmessage = function(msg){
			console.log(JSON.parse(msg))
			
		}


	}

	function closeChatSocket(){
		if (chatSocket != null){
			chatSocket.close()
			chatSocket=null
		}
	}

	function onSelectUser(userId){
		$.post({
			url: "{% url 'chat:get_or_create_chat_view' %}",
			data: {'user_id': userId},
			headers: {'X-CSRFToken': '{{csrf_token}}'},
			success: function(data){
				console.log(data)
				setupChatSocket(data.chat_id)
				
			},
			error: function(data){
				showModal(data.header, data.data)
			},


		})
	}

</script>